/Debug
/.vs/dreadmake/v14/*.suo
/_tmp_errors
/*.db
/*.opendb
/vsbin/Release
/objst
/out/auto/main.prg
/vsbin/ST
/vsbin/A500
/obj/*.lst
/scripts/reg-usage/.vs
/data/tex_atlas.png
/vsbin/STe
/A1200
/scripts/randtab/.vs
/obj/*.bin
/scripts/mem-regions/.vs
/vsbin/Bootloader
/vsbin/Bootloader-A500
